.about-banner{
    background-image: url('./images/page-header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.about-wrapper .about-image, .about-content{
    width: 48% !important;
}
.about-content h1{
    color: #282828;
    line-height: 1;
    letter-spacing: -0.04em;
}
.cta-section {
    background-image: url(./images/cta-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 300px;
}
/* Volunteer Page */
.vol-page{
    width: 20%;
}
/* Blog Grid Left Sidebar */
.search-form {
    margin-left: -2px;
}
.search-form .form-control {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    color: #282828;
    height: auto;
    padding: 10px 20px;
    border-radius: 3px;
    padding-right: 60px;
}
.search-form .search-btn {
    background-color: transparent;
    font-size: 24px;
    color: #888;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 10px 0;
    opacity: 0.6;
    border: none;
}
.cat-list li a {
    font-weight: 500;
    font-size: 15px;
    color: #282828;
    letter-spacing: -.4px;
    line-height: 36px;
    font-style: normal;
    text-decoration: none;
}
.cat-list li span {
    font-weight: 600;
    color: #bbb;
    margin-left: 5px;
    font-size: 12px;
}
.recent-posts li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
}
.recent-posts li {
    position: relative;
    padding-left: 90px;
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-bottom: 15px;
}
.recent-posts li h4 {
    margin-bottom: 0;
    display: block;
    font-size: 15px;
}
.recent-posts li a {
    color: #555;
    text-decoration: none;
}
span.date {
    /* margin-left:-20px; */
    margin-bottom: 5px;
}
.tags {
    margin: -3px 0;
}
.tags li {
    display: inline-block;
    float: left;
    margin: 3px;
}
.tags li a {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    color: #555;
    background-color: #ddd;
    padding: 5px 15px;
    border-radius: 3px;
    text-decoration: none;
}