@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

p {

    font-size: 17px !important;
}

.top-header {
    background-color: #f8b864;
    font-size: 14px;
}

.bg-grey {
    background-color: #f2f2f2;
}

.nav-link:hover , .nav-link:active {
    color: #f8b864 !important;
    transform: scaleX(110%);
    transition: transform .5s ease-in-out;
}
.dropdown-item:hover{
    background-color: #f8b864;
    color: white;
}

.yellow-btn {
    color: white !important;
    background-color: #f8b864;
    margin-top: -5px;
}

.yellow-btn:hover {
    background-color: #f8b864 !important;
    opacity: .8 !important;
}

.banner-caption {
    top: 10rem !important;
}

.banner-caption h1 {
    font-size: 4rem !important;
}

.ani_para {
    animation-duration: 1s !important;
    animation-delay: 1s !important;
}

.promo-section {
    position: relative;
    margin-top: -80px;
    min-height: 360px;
}

.promo-wrap .row {
    background-color: #fff;
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.15);
}

.promo-content {
    padding: 40px 30px;
    border-right: 1px dashed #ddd;
}

.bd-bottom {
    border-bottom: 1px solid #eaeaea;
}

.hd-border {
    border-top: 5px solid #f8b864;
    width: 50px;
    display: inline-block;
    margin-top: 0;
}

/* ////////////-Recent Causes Styling-///////////// */
.recent-causes {
    background-color: rgb(242, 242, 242);
    padding: 80px 0;

}

.causes-card-wrapper .card {
    width: 350px !important;
    min-height: 507px;
    border-radius: 0;
    border: none;
}

.cause-body {
    text-align: left !important;
    border: 1px dashed rgb(200, 200, 200);
}

.cause-donation i {
    color: #f8b864;
}

.card-link {
    text-decoration: none !important;
}

.card-link:hover {
    text-decoration-line: underline !important;
    text-decoration-color: #f8b864 !important;
    color: #f8b864 !important;
}

.card:hover {
    opacity: .8 !important;
}

.yl-card-btn {
    background-color: rgba(248, 184, 100, .8);
    width: 38% !important;
    position: absolute;
    /* left: 200px !important; */
    top: 5px !important;
    left: 50% !important;
    transform: translateX(-50%);

}

.yl-card-btn:hover {
    background-color: rgb(248, 184, 100);
}

.pro-bar-div {
    background-color: transparent !important;
}

.pro-bar {
    height: 16px !important;
    background-color: #f8b864 !important;
}

.pro-bar-btn {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 12px;
    top: 3px !important;
    border-radius: 50%;
    background-color: rgb(248, 184, 100) !important;
    border: 10px solid rgba(248, 184, 100, 0.5) !important;
    line-height: 30px !important;
}

/* ////////-About Us Styling-/////////// */
.about-us {
    padding: 80px 0;
    position: relative;
}

.profile-card {
    width: 350px !important;
    background-color: #fafafa;
    text-align: center;
    padding: 30px;
    border: 2px dashed #ddd;
    min-height: 445px !important;
}

.profile-card .profile-img {
    text-align: center !important;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 0;
}

.about-card {
    width: 350px !important;
}

.circle,
.shape {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.circle:before {
    background-color: #f8b864;
    content: '';
    height: 800px;
    width: 800px;
    position: absolute;
    top: -400px;
    left: -350px;
    border-radius: 100%;
    opacity: 0.2;
    z-index: -1;
}

.shape:after {
    background-color: #f8b864;
    content: '';
    width: 50%;
    height: 680px;
    position: absolute;
    top: 330px;
    right: -150px;
    border-radius: 100%;
    -webkit-transform: skew(3deg, 30deg);
    -ms-transform: skew(3deg, 30deg);
    transform: skew(5deg, 10deg);
    opacity: 0.3;
    z-index: -1;
}

/* -------Featured Campaigns---------- */
.campaigns {
    background-image: url(./images/featured-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 150px 0;
}

.video-wrap {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.video-wrap img {
    width: 100%;
}

.video-wrap .play {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-wrap .play a {
    color: #fff;
    display: inline-block;
    background-color: transparent;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 2px solid #ddd;
    border-radius: 50%;
    text-align: center;
}

/* -----Volunteer Section Styling */

.vol-pics {
    width: 45% !important;

}

.vol-contents {
    width: 50% !important;
}

.vol-p {
    color: #555555 !important;
    word-spacing: 5px !important;
}

.vol-details {
    width: 45% !important;
}

.vol-details .hover {
    display: none;
}

.check-list li {
    color: #555555 !important;
    line-height: 35px !important;
}

.check-list i {
    color: #f8b864 !important;
}

/* ------Counter Section Styling */

.counter-section {
    background-image: url(./images/counters-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding: 150px 0;

}

.counters .counter-content {
    display: block;
    text-align: center;
    color: #fff;
}

.counters .counter-content i {
    font-size: 36px;
}

.counters .counter-content h3 {
    font-size: 48px;
    margin: 10px 0;
    color: #f8b864;
    font-weight: 600;
}

.counters .counter-content h4 {
    font-size: 18px;
    margin: 0;
}

/* ---------Events Styling------------- */

.event-container {
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 50%;
    display: flex;

}

.swiper-button-next {
    right: 0px !important;
    width: 40px;
    height: 40px;
    background-color: rgba(248, 184, 100, .8);
    color: white;
}

.swiper-button-prev {
    left: 0 !important;
    width: 40px;
    height: 40px;
    background-color: rgba(248, 184, 100, .8);
    color: white;
    color: white !important;
}

.swiper-pagination-bullet-active {
    background-color: #f8b864 !important;
}

/* .event-card{
        width: 95% !important;
        min-height: 100% !important ;
        
    } */
.event-card-img {
    width: 50% !important;
}

.event-card-img img {
    width: 100% !important;
    height: 100% !important;
}

.event-detail {
    width: 50% !important;

    background-color: #fafafa;
    padding: 20px 5px;
    border: 1px dashed #ddd;
}

/* ----People Comments Section Styling */
.p-comment-card {
    width: 360px !important;
    background-color: #fafafa !important;
}

.p-comment-card p {
    color: #555555 !important;
}

.comment-footer img {
    width: 70px !important;
    height: 70px;
    border-radius: 50%;
}

.comment-footer span {
    display: block;
    color: #999;
    font-size: 14px;
}

/* ----Recent Stories----- */
span.date {
    color: #999;
    font-weight: 500;
    font-size: 15px;
    display: block;

}

/* ---Sponsor Section */
.sponsor {
    padding: 30px 0;
}

/* ------Widget Content----- */
.widget-content {
    width: 350px !important;
}

.widget-content h3 {
    color: #ddd;
    font-size: 22px !important;
}

.widget-content p,
.widget-link li,
.widget-link li a {
    color: #999;
    margin-bottom: 16px;
    text-decoration: none;
}

.widget-link li i {
    color: #f8b864;
}

/* ------Footer Section Styling------ */
.footer {
    /* display: block; */
    border-top: 1px solid #333;
    padding: 30px 0;
}

.footer .copyright,
.footer-social li a {
    font-size: 15px;
    color: #ddd;
    text-decoration: none;
}


#scroll-to-top {
    background-color: #f8b864;
    display: none;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    border-radius: 50%;
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}